numpy 
pandas

scikit-learn
xgboost
lightgbm
joblib

tensorflow

matplotlib
seaborn
plotly

jupyter
notebook
ipykernel

xarray
netCDF4
h5netcdf
copernicusmarine
pyobis

geopandas
shapely 
pyproj
rasterio

python-dotenv
tqdm
requests
pyyaml

shap

pyarrow 
dask